@page "/loginpage"
@using Microsoft.AspNetCore.Mvc.ViewEngines
@model LoginModel
@inject ICompositeViewEngine Engine

@{
}

<link rel="stylesheet" href="/css/loginpage.css">
<meta name="viewport" 
      content="width=device-width,
               initial-scale=1.0,
               minimum-scale=1.0">

<div class="wholepage">
        <div class="">
            @{
                var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
            }
            @if (result.Success)
            {
                await Html.RenderPartialAsync("_LoginPartial");
            }
            else
            {
                throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                    "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                    $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
            }
        </div>
    <div class="main-login-container">
        <div class="left-container">
            <h1>Welcome to your Just A Second account.</h1>
            <img class="waitress-image" src="/images/background.png" />
        </div>
        <div class="right-container">
            <h2>Login as a waiter</h2>
            <section>
            <form id="account" method="post">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mx-auto w-75 input-container">
                    <input asp-for="Input.Email" class="input-width form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mx-auto w-75 input-container">
                    <input asp-for="Input.Password" class="input-width form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="col-sm-2 col-form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="button-wrapper">
                    <button id="login-submit" type="submit" class="btn btn-lg btn-light w-75">Log in</button>
                </div>
            </div>
            </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
