@page "/basket/{OrderID:int}"
@using JustASecond.DAL.Interfaces
@inject IUnitOfWork unitOfWork
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="/css/basket.css" />

@if (Orderpositions != null && _order.Sent == false)
{
    <div class="page-container">
        <button class="btn-go-back"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        <div class="top-container">
            <h3>Cart</h3>
        </div>
        <div class="content-container">
            @foreach (var item in Orderpositions)
            {
                @if (@item.Product != null)
                {
                    <div class="item-container">
                        <img src="/images/food/@item.Product.Image" />
                        <div class="description">
                            <p>@item.Product.Title</p>
                        </div>
                        <div class="price">
                            <h4>@item.Product.Price</h4>
                        </div>
                        <div class="amount-change">
                            <button class="btn-change" @onclick="async () => await LowerOrderPositionAmount(item.OrderId, item.Position, item.Amount)">-</button>
                            <input type="number" @bind-value="item.Amount" />
                            <button class="btn-change" @onclick="async () => await RaiseOrderPositionAmount(item.OrderId, item.Position, item.Amount)">+</button>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="divider"></div>
        <div class="footer-container">
            <button @onclick="PlaceOrder" class="btn-place-order">Place order</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public int OrderID { get; set; }

    private Order _order;

    private List<OrderPosition> Orderpositions;

    protected async override Task OnInitializedAsync()
    {
        _order = await unitOfWork.OrderRepo.GetOrder(OrderID);
        Orderpositions = await unitOfWork.OrderRepo.GetOrderPositionsFromOrder(_order);
    }

    private async Task RaiseOrderPositionAmount(int orderId, int position, int amount)
    {
        await unitOfWork.OrderRepo.SetOrderPositionAmount(orderId, position, amount + 1);
    }

    private async Task LowerOrderPositionAmount(int orderId, int position, int amount)
    {
        if (amount <= 1)
        {
            await unitOfWork.OrderRepo.RemoveOrderPosition(orderId, position);
            await unitOfWork.SaveChanges();
        }
        else
        {
            await unitOfWork.OrderRepo.SetOrderPositionAmount(orderId, position, amount - 1);
        }
        Orderpositions = await unitOfWork.OrderRepo.GetOrderPositionsFromOrder(_order);
    }

    public async void PlaceOrder()
    {
        await unitOfWork.OrderRepo.SetOrderSent(_order);
        await unitOfWork.SaveChanges();
        NavigationManager.NavigateTo("/confirmation");
    }
}
