@page "/customerlogin/{tableID:int}"
@using JustASecond.DAL.Interfaces
@inject NavigationManager NavigationManager
@inject IUnitOfWork unitOfWork

<link rel="stylesheet" href="/css/customerlogin.css" />

<div class="page-container">
    <div class="top-container">
        <img class="waitress-image" src="/images/Waitress_transparent.png" />
    </div>
    <div class="middle-container">
        <h2 class="call-to-action-text">Order Food And Drinks From Your Phone</h2>
        <p class="info-text">Login to get started</p>
    </div>
    <div class="bottom-container">
        <p>@_info</p>
        <input class="username-input" type="text" placeholder="Name" @bind="_name"/>
        <button class="btn" @onclick="GoToMainpage">Get Started</button>
        <p class="info-text">Powered by JustASecond</p>
    </div>
</div>


@code {
    private string _name{ get; set; }
    private string? _info;
    [Parameter]
    public int tableID { get; set; }

    private Customer _customer;
    private Table _table;

    private async void GoToMainpage()
    {
        if(_name == null)
        {
            _info = "please enter a name";
            StateHasChanged();
        }
        else
        {
            _table = await unitOfWork.OrderRepo.GetTableByID(tableID);

            _customer = new Customer
            {
                Name = _name,
                Table = _table
            };
            
            await unitOfWork.CustomerRepo.AddCustomer(_customer);

            NavigationManager.NavigateTo($"/waitercall/{tableID}/{_name}/{_customer.Id}");
        }
    }
}
