@page "/test"
@using JustASecond.DAL.Interfaces
@inject IUnitOfWork _uow

<h3>Invoice Printer</h3>

<button @onclick="(()=> _uow.InvoiceRepo.CreateInvoicePDF(new Order(), 1))">print invoice</button>

@code {

}
