@page "/waitercall/{tableID}/{_name}"

<link rel="stylesheet" href="/css/waitercall.css" />

<div class="top-container">
    <h2>Hello, @_name!</h2>
</div>

<div class="bottom-container">
    <button @onclick="CallWaiter" class="btn btn-round">cw</button>
    <button class="btn">Go To Cart</button>
</div>

@code {
    [Parameter] public string tableID { get; set; }
    [Parameter] public string _name { get; set; }

    private void CallWaiter()
    {
        Index.tables[Index.tables.FindIndex(t => t.Id == tableID)].HasCalled = true;
    }
}
